<ul class="sg-colors">
    <li>
      <span class="sg-swatch" style="background: hsl(0, 0%, 100%);"></span>
      <span class="sg-label">$color--white</span>
    </li>
    <li>
      <span class="sg-swatch" style="background: hsl(0, 0%, 94.1%);"></span>
      <span class="sg-label">$color--gray--white</span>
    </li>
    <li>
      <span class="sg-swatch" style="background: hsl(0, 0%, 85.9%);"></span>
      <span class="sg-label">$color--gray--lightest</span>
    </li>
    <li>
      <span class="sg-swatch" style="background: hsl(0, 0%, 78%);"></span>
      <span class="sg-label">$color--gray--lighter</span>
    </li>
    <li>
      <span class="sg-swatch" style="background: hsl(0, 0%, 70.2%);"></span>
      <span class="sg-label">$color--gray--light</span>
    </li>
    <li>
      <span class="sg-swatch" style="background: hsl(228, 2.3%, 41.8%);"></span>
      <span class="sg-label">$color--gray</span>
    </li>
    <li>
      <span class="sg-swatch" style="background: hsl(0, 0%, 40%);"></span>
      <span class="sg-label">$color--gray--dark</span>
    </li>
    <li>
      <span class="sg-swatch" style="background: hsl(0, 0%, 20%);"></span>
      <span class="sg-label">$color--gray--darker</span>
    </li>
    <li>
      <span class="sg-swatch" style="background: hsl(0, 0%, 16.1%);"></span>
      <span class="sg-label">$color--gray--darkest</span>
    </li>
    <li>
      <span class="sg-swatch" style="background: hsl(0, 0%, 7.8%);"></span>
      <span class="sg-label">$color--gray--black</span>
    </li>
    <li>
      <span class="sg-swatch" style="background: hsl(0, 0%, 0%);"></span>
      <span class="sg-label">$color--black</span>
    </li>
    <li>
      <span class="sg-swatch" style="background: $color--black;"></span>
      <span class="sg-label">$color--font</span>
    </li>
    <li>
      <span class="sg-swatch" style="background: $color--black;"></span>
      <span class="sg-label">$color--link</span>
    </li>
    <li>
      <span class="sg-swatch" style="background: $color--gray;"></span>
      <span class="sg-label">$color--border</span>
    </li>
    <li>
      <span class="sg-swatch" style="background: red;"></span>
      <span class="sg-label">$color--error</span>
    </li>
</ul>
